@import "../../styles/main.less";

.Services {
  &:extend(.container);

  h1 {
    &:extend(.heading--section);
  }

  & > p {
    &:extend(.sub-heading--section);
  }

  br {
    &:extend(.br--section);
  }

  .ant-card-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: auto auto;

    &:hover {
      i {
        color: white;
        background-color: @primary-color;
      }
    }

    i {
      &:extend(.icon);
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
      border: 1px solid @primary-color;
      transition: 0.5s all ease-in-out;
    }

    h2 {
      font-family: @primary-font;
      font-weight: bold;
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
    }

    p {
      &:extend(.text);
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
    }
  }
}

@media only screen and (min-width: 992px) {
  .Services {
    .ant-card-grid {
      width: 50%;
      grid-column-gap: 1rem;
    }
  }
}
