@import "./variables";

.button {
  height: auto !important;
  padding: 1rem 2rem !important;
  border-radius: 4px !important;

  font-family: @primary-font;
  font-weight: bold !important;
  text-transform: uppercase;

  box-shadow: 0 8px 9px 0 rgba(96,94,94,.17) !important;

  &:hover {
    transform: scale(1.05);
  }
}

