@import "./variables";

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-family: @primary-font;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.sub-heading {
  color: @font-color;
  font-family: @primary-font;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 3rem;
  max-width: 600px;
}
