@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

// Color
@gradient-bg: linear-gradient(to right,#5533ff 40%,#25ddf5 100%);

// Font
@primary-font: 'Poppins', sans-serif;

//Size
@header-size: 100px;
