@import "../../styles/main.less";

.Showcase {
  overflow: hidden;

  .SectionHeading {
    h1, p {
      color: white;
    }
  }
  
  .container {
    max-width: 100vw;
    background: @gradient-bg;
    margin-left: 0;
    margin-right: 0;
  }

  .slider {
    position: relative;
    margin: -8rem 2rem 8rem 2rem;
    overflow: auto;
    
    &::-webkit-scrollbar {
      height: 0.8rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: fade(#536cfc, 90%);
    }

    .ant-row {
      width: 1900px;

      figure {
        position: relative;
        color: white;
        cursor: pointer;

        &:hover {
          figcaption {
            opacity: 1;
          }
        }

        img {
          width: 250px;
        }

        figcaption {
          .flex-center();
          flex-direction: column;
          opacity: 0;

          position: absolute;
          top: 1rem;
          left: 1rem;
          width: calc(100% - 2rem);
          height: calc(100% - 2rem);
          background-color: fade(@primary-color, 80%);
          transition: 0.5s all ease-in-out;

          h2 {
            color: white;
            font-weight: bold;
            font-size: 1.5rem;
          }

          i {
            color: white;
            font-size: 1.2rem;
            cursor: pointer;
            transition: 0.3s all ease-in-out;

            &:hover {
              color: @font-color;
            }
          }
        }
      }
    }
  }
}